{% extends 'base.html.twig' %}

{% block header %}
        <nav>
            <a href="{{ path('main_home') }}">Accueil</a>
            <ul>
                {% if app.user %}
                    <li>{{ app.user.pseudo }}</li>
                    <li><a href="{{ path('app_logout') }}">Déconnexion</a></li>
                {% endif %}
                {% if not app.user %}
                    <li><a href="{{ path('app_login') }}">Se connecter</a></li>
                    <li><a href="{{ path('register_register') }}">S'enregistrer</a></li>
                {% endif %}
            </ul>
        </nav>
{% endblock %}